apiVersion: v1
kind: Service
metadata:
  name: kubia
spec:
  type: NodePort
#  sessionAffinity: ClientIP   # все обращения идут к одному поду, а не на случайно выбранный службой
  sessionAffinity: None   # значение по умолчанию, тогда обращения от клиентов идут к случайно выбранному поду
  ports:
    - port: 80    # порт на котором будет доступна служба
      targetPort: 8080    # порт внутри контейнера, куда служба будет перенаправлять обращения клиентов
  selector:
    app: kubia    # все поды с селектором `app=kubia` будут частью этой службы
